@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");

* {
	font-family: "Kiwi Maru", sans-serif !important;
}

.bg-dark {
	background: #000 !important;
}

.navbar-brand {
	font-weight: bolder;
}

.btn-dark {
	background: #000;
	border: none !important;
	outline: none !important;
}

.btn-dark:focus {
	outline: none !important;
	border: none !important;
}
